@media screen and (min-width:1200px){
	html,body,div,a,ul,li,ol,h1,h2,h3,h4,h5,li{
		margin:0;padding:0;font-size:11pt;font-family: Arial,sans-serif;
	}
	#page-wrap{
		width:1200px;
		margin:0 auto;
		padding:0;
		border: none;
	}
	#header{
		
	}
		/*--Main Navigations--*/
		#header nav{
			width: 100%;
		    margin-top:3px;
		   	float:left;
		   	border-top:5px solid #87EAD6; 
		   	border-bottom:5px solid #87EAD6; 
		}
		a{
			text-decoration:none;
		}
		/*ul id=menu-main-nav, class=.main_nav, li id=main-item-#num,ul submenu class=sub-menu*/
		#header nav ul{
			list-style:none;
		    margin:0 auto .5em;
		}
		#header nav ul li{
			border-left: 1px solid #ccc;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		    float:left;
		    width:162px;
		    margin-bottom:.5em;
		}
		/*Mouse hover on li elements*/
		#header nav ul li:hover > ul.sub-menu{display:block;}
		a:hover{color:green;}
		#header nav ul li:last-child{border-right: 1px solid #ccc;}
		#header nav ul li a{
			font-size:11pt;
		    display: block;
		    text-align:center;
		    height:38px;
		    padding-top:.8em;
		}
		#header nav ul ul.sub-menu{
			display:none;
			float:left;
			width:100px;
			position:absolute;
			z-index:2;
		}
		#header nav ul.sub-menu li{
			width:100%;
			height:20px;
			border:1px solid #ccc;
			margin:0;
		}
		#header nav ul.sub-menu li a{}

		.clear{clear:both;}

	/*--Home container--*/
	#home-container{
		border: 1px solid #ccc;
		width:99%;
		margin:0 auto;
	}
	.mid-content:after{content:"";display: block;clear:both;}
	.side-navigation{font-family:'Arial Narrow';width:15%;float:right;}
	.hlf-best-sellers{width:85%;float:left;}
	.side-navigation ul{margin-top:1.5em;list-style-type: none;}
	.side-navigation ul li{
		border:2px solid #4EC7E4;
		text-align: center;
		margin:.2em 0;
		height:35px;
		padding:.4em;
		background-color: #006BAF;
		line-height: 1;
	}
	.side-navigation ul li:hover{background-color: #26B0D4;}
	.side-navigation ul li a{color:#fff;font-size:15px;font-weight: bold;}
	.side-navigation ul li:first-of-type, .side-navigation ul li:last-of-type{line-height: 2;}
	.hlf-bestsellers-header {
		text-align: center;
		color:#fff;
		padding:.1em;
		font-size:26px;
	}
	/*gradient*/
	.hlf-home-blue-gradient{
		background: rgb(255,255,255);
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 5%, rgba(4,143,176,1) 50%, rgba(255,255,255,1) 95%);
		background: -webkit-gradient(linear, left top, right top, color-stop(5%,rgba(255,255,255,1)), color-stop(50%,rgba(4,143,176,1)), color-stop(95%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		background: linear-gradient(to right,  rgba(255,255,255,1) 5%,rgba(4,143,176,1) 50%,rgba(255,255,255,1) 95%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
	}
	/*--Footer--*/
	#footer{
		border: 1px solid red;
	}
}