/*--RWD Screen Sizes--*/
@import url('smallest.css');

@import url('smaller.css');

@import url('tablet.css');

@import url('desktop.css');

/*--Home page bottom section--*/
	.about_header{
		background-color:#01AEA8;
		color:#fff;
		width:80%;
		overflow: auto;
	}
	.about_pic{
		float:left;
		padding:.5em 1em .5em .5em;
	}
	.about_top{
		border-bottom:1.5px solid #fff;
		display:flex;
		padding-top:.5em;
		margin: 0 1em .5em .5em;
	}
	.about_top p {
		float:left;
		margin-right: .5em;
		margin-top:.8em ;
		font-size: 20px;
	}
	.blog_main {
	    padding: 0;
	    margin: 0;
	    width:80%;
	    list-style: none;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-flow: row wrap;
	    justify-content: space-around;
	}

	.blog_cont1 {
		background: #01AEA8;
		padding: 5px;
		width: 451px;
		margin-right: .6em;
		height: 200px;
		margin-top: 20px;
		/*line-height: 150px;*/
		color: white;
		font-weight: bold;
		font-size: 3em;
		text-align: center;
	}
	.blog_cont2 {
	    background: #01AEA8;
	    padding: 5px;
	    width: 451px;
	    height: 200px;
	    margin-top: 20px;
	    line-height: 150px;
	    color: white;
	    font-weight: bold;
	    font-size: 3em;
	    text-align: center;
	}
	.blog_post{
		border: 1px solid red;
		line-height: 160px;
	}
	.blog_read{
		border:1px solid white;
		line-height: 40px;
	}

/*	.about_ad{
		float:left;
		width:160px;
		height:300px;
		border:1px solid red;
	}
	*/
